body {
    position: relative;
    margin: 0%;
}

.words {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 20px;
}
.flexible-container {
    width: 100%;
    display: inline;
    margin-bottom: 150px;
}

.orange-color {
    font-family: 'Lobster', cursive;
    color: rgb(242, 65, 65);
}

.white-color {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: white;
}

.half-width img {
    width: 100%;
}

footer {
    padding: 1%;
    text-align: center;
    background-color: black;
    text-align: center;
    margin: 0%;
}
.link-button {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 81, 0);
    padding: 30px 30px;
    border-radius: 5px;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-family: Pop;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}